<?xml version="1.0"?>
<launch>

	<arg name="gui" value="true"/>
	<!-- Robot calibration:  AGENT1-->
	<arg name="agent1_use_keyboard" value="true"/>
	<arg name="agent1_x" value="2.50"/>
	<arg name="agent1_y" value="0.0"/>

	<!-- Robot calibration:  AGENT2-->
	<arg name="agent2_use_keyboard" value="true"/>
	<arg name="agent2_x" value="1.50"/>
	<arg name="agent2_y" value="0.0"/>

	<!-- GAZEBO -->
	<include file="$(find hamster_vehicle_gazebo)/launch/hamster_world.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value=""/>
	</include>
	
	<!-- RVIZ -->
	<node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find hamster_vehicle)/rviz/hamsters.rviz"/> 
	
	<!-- AGENT1 -->
	<include file="$(find-pkg-share hamster_vehicle_gazebo)/launch/hamster_vehicle_spawner.launch">
		<arg name="agent" 			value="agent1"/>
		<arg name="use_keyboard" 	value="$(var agent1_use_keyboard)"/>
		<arg name="x" 				value="$(var agent1_x)"/>
		<arg name="y" 				value="$(var agent1_y)"/>
		<arg name="is_publishTF" 	value="true"/>
		<arg name="tf_target_topic" value="odom/ground_truth"/>
		<arg name="robot_version" 	value="V6"/>
	</include>
	<node name="transform_map_odom" pkg="tf2_ros" exec="static_transform_publisher" args=" --x 0.0 --y 0.0 --z 0.0 --roll 0.0 --pitch 0.0 --yaw 0.0 --frame-id map --child-frame-id $(var agent1)/odom"/>
	
	<!-- AGENT2 -->
	<include file="$(find-pkg-share hamster_vehicle_gazebo)/launch/hamster_vehicle_spawner.launch">
		<arg name="agent" 			value="agent2"/>
		<arg name="use_keyboard" 	value="$(var agent2_use_keyboard)"/>
		<arg name="x" 				value="$(var agent2_x)"/>
		<arg name="y" 				value="$(var agent2_y)"/>
		<arg name="is_publishTF" 	value="true"/>
		<arg name="tf_target_topic" value="odom/ground_truth"/>
		<arg name="robot_version" 	value="V6"/>
	</include>

	<node name="transform_map_odom" pkg="tf2_ros" exec="static_transform_publisher" args=" --x 0.0 --y 0.0 --z 0.0 --roll 0.0 --pitch 0.0 --yaw 0.0 --frame-id map --child-frame-id agent2/odom"/>
	
</launch>
