<?xml version="1.0" ?>

<robot name="hamster" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find hamster_vehicle_description)/urdf/front_wheel.urdf.xacro" />
	<xacro:include filename="$(find hamster_vehicle_description)/urdf/rear_wheel.urdf.xacro" />

	<xacro:macro name="solid_cuboid_inertia" params="w h d m"> 
	<inertia  ixx="${m*(h*h+d*d)/12}" ixy = "0" ixz = "0"
						iyy="${m*(w*w+d*d)/12}" iyz = "0"
						izz="${m*(w*w+h*h)/12}" /> 
	</xacro:macro>

	<xacro:arg name="agent" default="agent1" />
	<xacro:arg name="robot_version" default="V6"/>
	<!-- <xacro:arg name="is_publishTF" default="true"/> -->
	<!-- <xacro:arg name="tf_target_topic" default="odom/raw"/> -->
	<xacro:arg name="is_simulation" default="true"/>

	<xacro:property name="version" value="$(arg robot_version)"/>
	<xacro:property name="simulation" value="$(arg is_simulation)"/>
	
	<material name="red">
		<color rgba="${255/255} ${0/255} ${0/255} 1.0"/>
	</material>

	<link name="$(arg agent)/base_link" />

	<link name="$(arg agent)/body">
		<inertial>
			<mass value="3.0" />
			<xacro:solid_cuboid_inertia w="0.1" h="0.1" d="0.3" m="3.0"/>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://hamster_vehicle_description/meshes/shell.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.05" rpy="0 0 0"/>
			<geometry>
				<box size="0.25 0.09 0.02" />
			</geometry>
		</collision>
	</link>

	<link name="$(arg agent)/imu_link">
		<inertial>
			<mass value="0.01" />
			<xacro:solid_cuboid_inertia w="0.05" h="0.05" d="0.07" m="0.01"/>
		</inertial>
		<visual>
			<geometry>
				<box size="0.01 0.01 0.01" />
			</geometry>
		</visual>
	</link>

	<joint name="body_link_joint" type="fixed">
		<origin xyz="0.085 0 0" rpy="0 0 0" />
		<parent link="$(arg agent)/base_link" />
		<child  link="$(arg agent)/body" />
	</joint>

	<joint name="imu_link_joint" type="fixed">
		<origin xyz="0.085 0 0" rpy="0 0 0" />
		<parent link="$(arg agent)/base_link" />
		<child  link="$(arg agent)/imu_link" />
	</joint>

	<joint name="hokuyo_joint" type="fixed">
		<axis xyz="0 1 0" />
		<xacro:if value="${simulation}">
			<origin xyz="0.035 0 0.09" rpy="0 0 -3.14"/>
		</xacro:if>
		<xacro:unless value="${simulation}">
			<origin xyz="0.035 0 0.09" rpy="0 0 0"/>
		</xacro:unless>
		<parent link="$(arg agent)/base_link"/>
		<child link="$(arg agent)/lidar_link"/>
	</joint>

	<joint name="camera_joint" type="fixed">
		<xacro:if value="${version == 'V7'}">
			<origin xyz="0.20173 0 0.028" rpy="0 0 0"/>
		</xacro:if>
		<xacro:if value="${version == 'V6'}">
			<origin xyz="0.185 0 0.02" rpy="0 0 0"/>
		</xacro:if>
		<parent link="$(arg agent)/base_link"/>
		<child link="$(arg agent)/camera_link"/>
	</joint>


	<xacro:if value="${version == 'V7'}">
		<link name="$(arg agent)/camera_optical_frame_link"/>
			<joint name="camera_optical_joint" type="fixed">
				<origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
				<parent link="$(arg agent)/camera_link"/>
				<child link="$(arg agent)/camera_optical_frame_link"/>
			</joint>
	</xacro:if>

	<!-- Hokuyo Laser -->
	<link name="$(arg agent)/lidar_link">
		<visual>
			<geometry>
				<mesh filename="package://hamster_vehicle_description/meshes/A2_lidar.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<cylinder length="0.02" radius="0.037" />
			</geometry>
		</collision>
	</link>

	<link name="$(arg agent)/camera_link">
		<collision>
			<geometry>
		<box size="0.01 0.01 0.01"/>
			</geometry>
		</collision>
		<visual>
			<geometry>
				<xacro:if value="${version == 'V7'}">
				<mesh filename="package://hamster_vehicle_description/meshes/d415.stl" />
				</xacro:if>
				<xacro:if value="${version == 'V6'}">
				<mesh filename="package://hamster_vehicle_description/meshes/camera.stl" />
				</xacro:if>
			</geometry>
			<material name="red"/>
		</visual>
		<inertial>
			<mass value="1e-5" />
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>

	<xacro:front_wheel agent="$(arg agent)" fr="front" lr="right" parent="$(arg agent)/base_link" origin_x="0.165" origin_y="-0.086" origin_z="-0.01"/>
	<xacro:front_wheel agent="$(arg agent)" fr="front" lr="left"  parent="$(arg agent)/base_link" origin_x="0.165" origin_y="0.086"  origin_z="-0.01"/>
	<!-- <xacro:rear_wheel  agent="$(arg agent)" fr="front"  lr="right" parent="$(arg agent)/base_link" origin_x="0.165"   origin_y="-0.086" origin_z="-0.01"/> -->
	<!-- <xacro:rear_wheel  agent="$(arg agent)" fr="front"  lr="left" parent="$(arg agent)/base_link" origin_x="0.165"   origin_y="0.086" origin_z="-0.01"/> -->
	<xacro:rear_wheel  agent="$(arg agent)" fr="rear"  lr="right" parent="$(arg agent)/base_link" origin_x="0.0"   origin_y="-0.086" origin_z="-0.01"/>
	<xacro:rear_wheel  agent="$(arg agent)" fr="rear"  lr="left"  parent="$(arg agent)/base_link" origin_x="0.0"   origin_y="0.086"  origin_z="-0.01"/> 

	<gazebo>
		<plugin name='ackermann_drive_plugin' filename='libgazebo_ros_ackermann_drive2.so'>

        <ros>
          <namespace>$(arg agent)</namespace>
          <!-- <remapping>cmd_vel:=cmd_demo</remapping> -->
          <!-- <remapping>odom:=odom_demo</remapping> -->
          <!-- <remapping>distance:=distance_demo</remapping> -->
          <!-- <remapping>steerangle:=steerangle_demo</remapping> -->
        </ros>

        <update_rate>100.0</update_rate>

        <!-- wheels -->
        <front_left_joint>$(arg agent)_front_left_wheel_steering_joint</front_left_joint>
        <front_right_joint>$(arg agent)_front_right_wheel_steering_joint</front_right_joint>
        <rear_left_joint>$(arg agent)_rear_left_wheel_joint</rear_left_joint>
        <rear_right_joint>$(arg agent)_rear_right_wheel_joint</rear_right_joint>
        <left_steering_joint>$(arg agent)_front_left_wheel_steering_joint</left_steering_joint>
        <right_steering_joint>$(arg agent)_front_right_wheel_steering_joint</right_steering_joint>
        <!-- <steering_wheel_joint>$(arg agent)_steering_wheel_joint</steering_wheel_joint> -->

        <!-- Max absolute steer angle for tyre in radians-->
        <!-- Any cmd_vel angular z greater than this would be capped -->
        <max_steer>0.6458</max_steer>

        <!-- Max absolute steering angle of steering wheel -->
        <max_steering_angle>7.85</max_steering_angle>

        <!-- Max absolute linear speed in m/s -->
        <max_speed>20</max_speed>

        <!-- PID tuning -->
        <left_steering_pid_gain>1500 0 1</left_steering_pid_gain>
        <left_steering_i_range>0 0</left_steering_i_range>
        <right_steering_pid_gain>1500 0 1</right_steering_pid_gain>
        <right_steering_i_range>0 0</right_steering_i_range>
        <linear_velocity_pid_gain>1000 0 1</linear_velocity_pid_gain>
        <linear_velocity_i_range>0 0</linear_velocity_i_range>

        <!-- output -->
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
        <!-- <publish_distance>true</publish_distance> -->
        <!-- <publish_steerangle>true</publish_steerangle> -->

        <odometry_frame>$(arg agent)/odom</odometry_frame>
        <robot_base_frame>$(arg agent)/base_link</robot_base_frame>

      </plugin>
	</gazebo>

	<gazebo reference="$(arg agent)/imu_link">
		<gravity>true</gravity>
		<sensor name="imu_sensor" type="imu">
			<always_on>true</always_on>
			<update_rate>100</update_rate>
			<visualize>true</visualize>
			<topic>__default_topic__</topic>
			<plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
				<ros>
					<namespace>$(arg agent)</namespace>
					<remapping>imu_plugin/out:=imu</remapping>
				</ros>
				<frame_name>$(arg agent)/imu_link</frame_name>
			</plugin>
		</sensor>
	</gazebo>

	<gazebo reference="$(arg agent)/lidar_link">
		<sensor type="ray" name="head_hokuyo_sensor">
			<pose>0 0 0 0 0 0</pose>
			<visualize>false</visualize>
			<update_rate>10</update_rate>
			<ray>
				<scan>
					<horizontal>
						<samples>360</samples>
						<resolution>1</resolution>
						<min_angle>-3.1415</min_angle>
						<max_angle>3.1415</max_angle>
					</horizontal>
				</scan>
				<range>
					<min>0.10</min>
					<max>12.0</max>
					<resolution>0.01</resolution>
				</range>
				<noise>
					<type>gaussian</type>
					<mean>0.0</mean>
					<stddev>0.01</stddev>
				</noise>
			</ray>
			<plugin name="lidar_plugin" filename="libgazebo_ros_ray_sensor.so">
				<ros>
					<namespace>$(arg agent)</namespace>
					<remapping>lidar_plugin/out:=scan</remapping>
				</ros>
				<frame_name>$(arg agent)/lidar_link</frame_name>
				<output_type>sensor_msgs/LaserScan</output_type>
			</plugin>
		</sensor>
		<material>Gazebo/DarkGrey</material>
	</gazebo>

	<xacro:if value="${version == 'V7'}">
		<gazebo reference="$(arg agent)/camera_link">
			<sensor name="depth_camera" type="depth">
				<update_rate>15</update_rate>
				<camera>
					<horizontal_fov>1.5882496</horizontal_fov>
					<image>
						<width>640</width>
						<height>480</height>
						<format>B8G8R8</format>
					</image>
					<clip>
						<near>0.05</near>
						<far>200</far>
					</clip>
				</camera>
				<plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
					<ros>
						<namespace>$(arg agent)</namespace>
					</ros>	
					<alwaysOn>true</alwaysOn>
					<camera_name>camera</camera_name>
					<frame_name>$(arg agent)/camera_link</frame_name>
					<P_cx>0</P_cx>
					<P_cy>320.5</P_cy>
					<P_fy>0</P_fy>
					<Tx>240.5</Tx>
					<Ty>0</Ty>
					<rectification_matrix>0.999 0.0 -0.049 0.0 1.0 0.0 0.049 0.0 0.999</rectification_matrix>
					<hack_baseline>0.07</hack_baseline>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:if>

	<xacro:if value="${version == 'V6'}">
		<gazebo reference="$(arg agent)/camera_link">
			<sensor type="camera" name="camera1">
				<update_rate>30.0</update_rate>
				<camera name="head">
					<horizontal_fov>1.3962634</horizontal_fov>
					<image>
						<width>800</width>
						<height>800</height>
						<format>R8G8B8</format>
					</image>
					<clip>
						<near>0.02</near>
						<far>300</far>
					</clip>
					<noise>
						<type>gaussian</type>
						<!-- Noise is sampled independently per pixel on each frame.-->
						<!-- That pixel's noise value is added to each of its color -->
						<!-- channels, which at that point lie in the range [0,1]. -->
						<mean>0.0</mean>
						<stddev>0.007</stddev>
					</noise>
				</camera>
				<plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
					<ros>
						<namespace>$(arg agent)</namespace>
					</ros>
					<alwaysOn>true</alwaysOn>
					<camera_name>camera</camera_name>
					<frame_name>$(arg agent)/camera_link</frame_name>
					<P_cx>0</P_cx>
					<P_cy>320.5</P_cy>
					<P_fy>0</P_fy>
					<Tx>240.5</Tx>
					<Ty>0</Ty>
					<rectification_matrix>0.999 0.0 -0.049 0.0 1.0 0.0 0.049 0.0 0.999</rectification_matrix>
					<hack_baseline>0.07</hack_baseline>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:if>
</robot>