<?xml version="1.0"?>

<launch>

	<arg name="agent" 					default="agent1"/>
	<arg name="x" 						default="0.0"/>
	<arg name="y" 						default="0.0"/>
	<arg name="z" 						default="0.3"/>
	<arg name="roll" 					default="0.0"/>
	<arg name="pitch" 					default="0.0"/>
	<arg name="yaw" 					default="0.0"/>
	<arg name="is_publishTF" 			default="true"/>
	<arg name="tf_target_topic" 		default="odom/raw"/>
	<arg name="robot_version" 			default="V6"/>
	<arg name="simulation" 				default="false"/>
	
	<!-- Spawn the vehicle. -->

	<node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" namespace="$(var agent)" output="screen">
		<param name="publish_frequency" value="50.0" />
		<param name='robot_description' value="$(command 'xacro $(find-pkg-share hamster_vehicle_description)/urdf/hamster.urdf.xacro 
												agent:=$(var agent) 
												robot_version:=$(var robot_version) 
												is_publishTF:=$(var is_publishTF) 
												tf_target_topic:=$(var tf_target_topic) 
												is_simulation:=$(var simulation)')"/>
	</node>

	<node if="$(var simulation)" name="spawn_vehicle" pkg="gazebo_ros" exec="spawn_entity.py" namespace="$(var agent)"
				args="	-topic /$(var agent)/robot_description
						-entity $(var agent)
						-x $(var x) 
						-y $(var y) 
						-z $(var z)
						-R $(var roll) 
						-P $(var pitch) 
						-Y $(var yaw)"/>

</launch>
