<?xml version="1.0"?>
<launch>
	<!-- <env name="GAZEBO_MODEL_PATH" 	value="$(find-pkg-share hamster_vehicle_gazebo):$(find-pkg-share hamster_vehicle_gazebo)/models"/> -->
	<arg name="world" 			default="$(find-pkg-share hamster_vehicle_gazebo)/worlds/cogni_office.world"/>
	<arg name="gui" 			default="true"/>

	<set_env name="GAZEBO_MODEL_PATH" value="$(find-pkg-share hamster_vehicle_gazebo):$(find-pkg-share hamster_vehicle_gazebo)/models:$(find-pkg-share hamster_vehicle_description):$(find-pkg-share hamster_vehicle_description)/meshes"/>

	<include file="$(find-pkg-share gazebo_ros)/launch/gzserver.launch.py">
		<arg name="world" 		value="$(var world)"/>
	</include>  

	<include file="$(find-pkg-share gazebo_ros)/launch/gzclient.launch.py" if="$(var gui)"/>

</launch>
